@import "../basic.css";

html {
  overflow: hidden;
}

body {
  background: #fff;
  color: #000;
}

#slide-container {
  margin-top: 4em;
}

.slide-view-module {
  position: static;
  overflow: visible;
}

.slide {

  font-size: 220%;
  transition: none !important;/* fade.css */
}

.slide h1 {
  font-size: 2em;
  color: #a279e1;
  margin: -.25em 0 0;
  letter-spacing: -.08em;
  text-rendering: optimizeLegibility;
}

.slide h2 {
  color: #8eb5bb;
  font-size: 1.2em;
  letter-spacing: -.04em;
  margin-top: 0;
}

.slide ul ul {
  font-size: 90%;
}

.slide li {
  line-height: 1em;
  margin: .75em 0;
}

.slide em {
  color: inherit;
  font-style: italic;
}

.slide a {
  color: #8eb5bb;
  text-decoration: none;
}

.slide a:hover,
.slide a:focus {
  color: inherit;
  text-decoration: underline;
}

.slide .button {
  background: #8eb5bb;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 5px;
}

.slide .button:hover,
.slide .button:active {
  text-decoration: none;
}

.slide img:not(.fullsize) {
  max-width: 100%;
}

.slide .fullsize {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -640px;
  width: 1280px;
}

.progress {
  background: #a279e1;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.fullsize + .progress {
  display: none;
}

.slide-layout-title {
  padding: 5em 0 0 3em;
}

.slide-layout-title h1 {
  font-size: 3em;
}

@media screen and (max-device-width: 480px) {
  .slide {
    font-size: 90%;
  }

  .slide-container {
    margin-top: 1em;
  }

  .slide-layout-title {
    padding-top: 0;
  }

  .slide h2 {
    margin-left: .25em;
  }

  .slide p {
    font-size: 1.25em;
    margin-left: .25em;
  }

  .slide li {
    font-size: 1.25em;
  }
}
